@import './css-reset.css';
@import './theme.css';
@import './properties.css';


html {
	--scheme: dark;
}

body {
	color: var(--foreground);
	background-color: var(--background);
}

:root {
  font-family: "Geist", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;

  color-scheme: light dark;
}

:root {
	--radius: .625rem;
	--background: oklch(1 0 0);
	--foreground: oklch(.145 0 0);
	--card: oklch(1 0 0);
	--card-foreground: oklch(.145 0 0);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(.145 0 0);
	--primary: oklch(.205 0 0);
	--primary-foreground: oklch(.985 0 0);
	--secondary: oklch(.97 0 0);
	--secondary-foreground: oklch(.205 0 0);
	--muted: oklch(.97 0 0);
	--muted-foreground: oklch(.556 0 0);
	--accent: oklch(.97 0 0);
	--accent-foreground: oklch(.205 0 0);
	--destructive: oklch(.577 .245 27.325);
	--border: oklch(.922 0 0);
	--input: oklch(.922 0 0);
	--ring: oklch(.708 0 0);
	--chart-1: var(--color-blue-300);
	--chart-2: var(--color-blue-500);
	--chart-3: var(--color-blue-600);
	--chart-4: var(--color-blue-700);
	--chart-5: var(--color-blue-800);
	--sidebar: oklch(.985 0 0);
	--sidebar-foreground: oklch(.145 0 0);
	--sidebar-primary: oklch(.205 0 0);
	--sidebar-primary-foreground: oklch(.985 0 0);
	--sidebar-accent: oklch(.97 0 0);
	--sidebar-accent-foreground: oklch(.205 0 0);
	--sidebar-border: oklch(.922 0 0);
	--sidebar-ring: oklch(.708 0 0);
	--surface: oklch(.98 0 0);
	--surface-foreground: var(--foreground);
	--code: var(--surface);
	--code-foreground: var(--surface-foreground);
	--code-highlight: oklch(.96 0 0);
	--code-number: oklch(.56 0 0);
	--selection: oklch(.145 0 0);
	--selection-foreground: oklch(1 0 0);

	--primary_10: color-mix(in oklch, var(--primary) 10%, transparent);
	--primary_20: color-mix(in oklch, var(--primary) 20%, transparent);
	--primary_30: color-mix(in oklch, var(--primary) 30%, transparent);
	--primary_40: color-mix(in oklch, var(--primary) 40%, transparent);
	--primary_50: color-mix(in oklch, var(--primary) 50%, transparent);
	--primary_60: color-mix(in oklch, var(--primary) 60%, transparent);
	--primary_70: color-mix(in oklch, var(--primary) 70%, transparent);
	--primary_80: color-mix(in oklch, var(--primary) 80%, transparent);
	--primary_90: color-mix(in oklch, var(--primary) 90%, transparent);

	--secondary_10: color-mix(in oklch, var(--secondary) 10%, transparent);
	--secondary_20: color-mix(in oklch, var(--secondary) 20%, transparent);
	--secondary_30: color-mix(in oklch, var(--secondary) 30%, transparent);
	--secondary_40: color-mix(in oklch, var(--secondary) 40%, transparent);
	--secondary_50: color-mix(in oklch, var(--secondary) 50%, transparent);
	--secondary_60: color-mix(in oklch, var(--secondary) 60%, transparent);
	--secondary_70: color-mix(in oklch, var(--secondary) 70%, transparent);
	--secondary_80: color-mix(in oklch, var(--secondary) 80%, transparent);
	--secondary_90: color-mix(in oklch, var(--secondary) 90%, transparent);

	--destructive_10: color-mix(in oklch, var(--destructive) 10%, transparent);
	--destructive_20: color-mix(in oklch, var(--destructive) 20%, transparent);
	--destructive_30: color-mix(in oklch, var(--destructive) 30%, transparent);
	--destructive_40: color-mix(in oklch, var(--destructive) 40%, transparent);
	--destructive_50: color-mix(in oklch, var(--destructive) 50%, transparent);
	--destructive_60: color-mix(in oklch, var(--destructive) 60%, transparent);
	--destructive_70: color-mix(in oklch, var(--destructive) 70%, transparent);
	--destructive_80: color-mix(in oklch, var(--destructive) 80%, transparent);
	--destructive_90: color-mix(in oklch, var(--destructive) 90%, transparent);
}

html.dark {
	--background: oklch(.145 0 0);
	--foreground: oklch(.985 0 0);
	--card: oklch(.205 0 0);
	--card-foreground: oklch(.985 0 0);
	--popover: oklch(.269 0 0);
	--popover-foreground: oklch(.985 0 0);
	--primary: oklch(.922 0 0);
	--primary-foreground: oklch(.205 0 0);
	--secondary: oklch(.269 0 0);
	--secondary-foreground: oklch(.985 0 0);
	--muted: oklch(.269 0 0);
	--muted-foreground: oklch(.708 0 0);
	--accent: oklch(.371 0 0);
	--accent-foreground: oklch(.985 0 0);
	--destructive: oklch(.704 .191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(.556 0 0);
	--chart-1: var(--color-blue-300);
	--chart-2: var(--color-blue-500);
	--chart-3: var(--color-blue-600);
	--chart-4: var(--color-blue-700);
	--chart-5: var(--color-blue-800);
	--sidebar: oklch(.205 0 0);
	--sidebar-foreground: oklch(.985 0 0);
	--sidebar-primary: oklch(.488 .243 264.376);
	--sidebar-primary-foreground: oklch(.985 0 0);
	--sidebar-accent: oklch(.269 0 0);
	--sidebar-accent-foreground: oklch(.985 0 0);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(.439 0 0);
	--surface: oklch(.2 0 0);
	--surface-foreground: oklch(.708 0 0);
	--code: var(--surface);
	--code-foreground: var(--surface-foreground);
	--code-highlight: oklch(.27 0 0);
	--code-number: oklch(.72 0 0);
	--selection: oklch(.922 0 0);
	--selection-foreground: oklch(.205 0 0);
}
