:host {
	--_active-bg: rgb(30, 30, 30);
	--_border-radius: 16px;

	overflow: hidden;
	display: grid;
	grid-template-rows: 1fr max-content;
	gap: 22px;
	padding-block: 12px;
	padding-right: 8px;
	background-color: rgb(55, 55, 55);
}
s-link-wrapper {
	display: grid;
	grid-auto-flow: row;
	grid-auto-rows: max-content;
	gap: 22px;
}
a {
	position: relative;
	display: block;

	&.active {
		pointer-events: none;

		s-nav-item {
			background: var(--_active-bg);
		}
		s-nav-item::before,
		s-nav-item::after {
			content: '';
			position: absolute;
			width: var(--_border-radius);
			height: var(--_border-radius);
			left: 0;
			background: transparent;
		}
		s-nav-item::before {
			top: calc(var(--_border-radius) * -1);
			border-radius: 0 0 0 999px;
			box-shadow: -4px 4px 0 4px var(--_active-bg);
		}
		s-nav-item::after {
			bottom: calc(var(--_border-radius) * -1);
			border-radius: 999px 0 0 0;
			box-shadow: -4px -4px 0 4px var(--_active-bg);
		}
	}

}

s-nav-item {
	cursor: pointer;
	display: flex;
	justify-content: center;
	border-top-right-radius: var(--_border-radius);
	border-bottom-right-radius: var(--_border-radius);
	padding: 8px 12px;
	padding-right: 8px;
}

mm-icon {
	z-index: 1;
	font-size: 24px;
}
mm-icon::after {
	position: absolute;
	content: '';
	inset: 0;
	left: 8px;
	z-index: var(--mm-focus-index);
	outline: var(--mm-focus-ring);
	transition: var(--mm-focus-transition);
	border-radius: var(--_border-radius);
}
a:not(:focus-visible) mm-icon::after {
	outline-color: transparent;
}