:host {
	display: grid;
	grid-template-rows: auto 1fr auto;
}
s-top-controls {
	display: flex;
	height: 80px;
}
section {
	overflow: hidden;
	display: grid;
	place-items: center;
	margin-inline: 12px;
}
video {
	overflow: hidden;
	display: grid;
}
s-zoom-control {
	display: flex;
	justify-content: center;

	.active {
		outline: goldenrod 1px solid;
	}
}
s-actions {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	place-items: center;
	height: 100px;

	button {
		grid-column: 2/3;
		height: 60px;
		aspect-ratio: 1;
		border-radius: 999px;
		color: white;
		background-color: rgb(30 30 30);
		outline: 2px solid rgb(50 50 50);
		border: none;
	}
}
